<div class="container col-lg-12">
  <div class="">
  <h1>
    register
  </h1>

    <form novalidate [formGroup]="form" name="form"   #f="ngForm" >

      <div class="form-group">
        <label >Last Name</label>
        <input type="text" class="form-control" name="firtNameUser" formControlName="firtNameUser" />

        <div *ngIf="form.controls.firtNameUser.errors" class="">
          <div *ngIf="form.controls.firtNameUser.errors.minlength && form.controls.firtNameUser.dirty" class="alert alert-danger">
            {{'Input_Min_3' | translate}}
          </div>
          <div *ngIf="form.controls.firtNameUser.errors.required && form.controls.firtNameUser.dirty" class="alert alert-danger">
            {{'Input_Require' | translate}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label >Last Name</label>
        <input type="text" class="form-control" name="lastNameUser" formControlName="lastNameUser" />
        <div *ngIf="form.controls.lastNameUser.errors" class="">
          <div *ngIf="form.controls.lastNameUser.errors.minlength && form.controls.lastNameUser.dirty" class="alert alert-danger">
            {{'Input_Min_3' | translate}}
          </div>
          <div *ngIf="form.controls.lastNameUser.errors.required && form.controls.lastNameUser.dirty" class="alert alert-danger">
            {{'Input_Require' | translate}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label >Email</label>
        <input type="text" class="form-control" name="emailUser" formControlName="emailUser"  />
        <div *ngIf="form.controls.emailUser.errors" class="">
          <div *ngIf="form.controls.emailUser.errors.minlength && form.controls.emailUser.dirty" class="alert alert-danger">
            {{'Input_Min_3' | translate}}
          </div>
          <div *ngIf="form.controls.emailUser.errors.required && form.controls.emailUser.dirty" class="alert alert-danger">
            {{'Input_Require' | translate}}
          </div>
          <div *ngIf="form.controls.emailUser.errors.email && form.controls.emailUser.dirty" class="alert alert-danger">
            {{'Input_Email' | translate}}
          </div>
        </div>
        <div *ngIf="false == emailExist" class="alert alert-danger">
          {{'Input_Email_Exist' | translate}}
        </div>
      </div>
      <div class="form-group">
        <label >Password</label>
        <input type="password" class="form-control" name="password" formControlName="password"  />
        <div *ngIf="form.controls.password.errors" class="">
          <div *ngIf="form.controls.password.errors.minlength && form.controls.password.dirty" class="alert alert-danger">
            {{'Input_Min_3' | translate}}
          </div>
          <div *ngIf="form.controls.password.errors.required && form.controls.password.dirty" class="alert alert-danger">
            {{'Input_Require' | translate}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <button  class="btn btn-primary" (click)="registerUser()">Registrar</button>
      </div>

  </form>
  </div>
</div>
