<footer id="footer" class="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7 news-letter">
          <h3 class="widget-title">Newsletter</h3>
        <app-fiend-article-page></app-fiend-article-page>
        </div>
        <div class="col-sm-5 col-md-5 social-media style-1">
          <h3 class="widget-title">Stay Connected</h3>

          <ul class="social-link">
            <li class="icon-facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li class="icon-twitter"><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li class="icon-instagram"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
            <li class="icon-linkedin"><a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
            <li class="icon-google-plus"><a href="https://www.flickr.com/"><i class="fa fa-google-plus"></i></a></li>
            <li class="icon-flickr"><a href="https://plus.google.com/"><i class="fa fa-flickr"></i></a></li>
            <li class="icon-rss"><a href="https://www.rss.com/"><i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <aside id="emallshop-about-us-3" class="widget emallshop_about_us"><div class="about-us-widget"><p class="about-logo"><a routerLink="/home"><img src="{{imageload}}" alt="pl-emallshop-extensions " class="logo-page"></a></p><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p><ul class="about-us"><li><i class="fa fa-home"></i><span>Lorem Ipsum, 2046 Lorem Ipsum</span></li><li><i class="fa fa-phone"></i><span>576-245-2478</span></li><li><i class="fa fa-print"></i><span>786-277-7999</span></li><li><i class="fa fa-envelope-o"></i><span><a href="mailto:info@company.com ">info@company.com</a></span></li><li><i class="fa fa-globe"></i><span><a href="http://www.emall.com/">www.emall.com</a></span></li><li><i class="fa fa-clock-o"></i><span>Mon - Fri / 9:00 AM - 6:00 PM</span></li></ul></div></aside>				</div>
        <div class="col-sm-6 col-md-3">
          <aside id="nav_menu-2" class="widget widget_nav_menu"><h3 class="widget-title">Policy Info</h3><div class="menu-policy-info-container"><ul id="menu-policy-info" class="menu"><li id="menu-item-770" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-770"><a href="#">Policy Info</a></li>
            <li id="menu-item-771" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-771"><a href="#">Terms of Sale</a></li>
            <li id="menu-item-772" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-772"><a href="#">Terms of Use</a></li>
            <li id="menu-item-773" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-773"><a href="#">Customer Service</a></li>
            <li id="menu-item-774" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-774"><a href="#">Delivery Information</a></li>
            <li id="menu-item-775" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-775"><a href="#">Payments</a></li>
            <li id="menu-item-776" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-776"><a href="#">FAQ</a></li>
            <li id="menu-item-777" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-777"><a href="#">Saved Cards</a></li>
          </ul></div></aside>				</div>
        <div class="col-sm-6 col-md-3">
          <aside id="recent-posts-3" class="widget widget_recent_entries">		<h3 class="widget-title">Recent Posts</h3>		<ul>
            <li style="">
              <a >Dolore magna aliquam erat</a>
            </li>
            <li style="">
              <a >Duis autem vel eum iriure dolor</a>
            </li>
            <li style="">
              <a >Stet clita kasd gubergren</a>
            </li>
            <li style="">
              <a >Lorem ipsum dolor sit amet</a>
            </li>
            <li style="">
              <a >Dolore magna aliquam erat</a>
            </li>
            <li style="">
              <a >Duis autem vel eum iriure dolor</a>
            </li>
            <li style="">
              <a >Stet clita kasd gubergren</a>
            </li>
            <li style="">
              <a >Lorem ipsum dolor sit amet</a>
            </li>
          </ul>
          </aside>						</div>
        <div class="col-sm-6 col-md-3">
          <aside id="recent-posts-3" class="widget widget_recent_entries">		<h3 class="widget-title">Recent Posts</h3>		<ul>
            <li style="">
              <a >Dolore magna aliquam erat</a>
            </li>
            <li style="">
              <a >Duis autem vel eum iriure dolor</a>
            </li>
            <li style="">
              <a >Stet clita kasd gubergren</a>
            </li>
            <li style="">
              <a >Lorem ipsum dolor sit amet</a>
            </li>
            <li style="">
              <a>Dolore magna aliquam erat</a>
            </li>
            <li style="">
              <a >Duis autem vel eum iriure dolor</a>
            </li>
            <li style="">
              <a >Stet clita kasd gubergren</a>
            </li>
            <li style="">
              <a >Lorem ipsum dolor sit amet</a>
            </li>
          </ul>
          </aside>
           </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <p>© 2016 presslayouts.com. All Rights Reserved.</p>
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
          <div class="payments-method">
            <i class="fa fa-cc-amex" style="font-size:48px;color:chocolate"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
