.load-page{
  height: 100%;
  z-index: 10401;
  text-align: center;
  visibility: visible;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: block;
  margin: auto;
  padding: 100px;
}

.load-image{
  background-color: #fefefe00;
  margin: auto;
  padding: 20px;
  border: 1px solid #8880;
  width: 80%;
}
.user-image {
  margin: 25px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  max-height:170px;
  max-width:170px;
}
