

<div class="row">
  <div class="col-lg-12">
    <button type="button" class="btn btn-primary" (click)="openModalWithClass(template)">añadir</button>
  </div>
  <div class="col-lg-12">
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Grupo</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefSection.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-center">
            <form novalidate [formGroup]="form" name="form"   #f="ngForm" >
              <div class="form-group">
                <label for="bussineId">Bussine</label>
                <ng-select
                  [options]="bussineSelect"
                  [multiple]="false"
                  formControlName="bussineId"
                  name="bussineId"
                  (selected)="onSelectBussine($event)"
                >
                </ng-select>
                <div *ngIf="form.controls.bussineId.errors" class="">
                  <div *ngIf="form.controls.bussineId.errors.required && form.controls.bussineId.dirty" class="alert alert-danger">
                    {{'Input_Require' | translate}}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label form="groupId">Group</label>
                <ng-select
                  [options]="groupSelect"
                  [multiple]="false"
                  formControlName="groupId"
                  name="groupId"
                  (selected)="onSelectSection($event)"
                >
                </ng-select>
                <div *ngIf="form.controls.groupId.errors" class="">
                  <div *ngIf="form.controls.groupId.errors.required && form.controls.groupId.dirty" class="alert alert-danger">
                    {{'Input_Require' | translate}}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="sectionId">Seccion</label>
                <ng-select
                  [options]="sectionSelect"
                  [multiple]="false"
                  formControlName="sectionId"
                  name="sectionId"
                  (selected)="onSubSelect($event)"
                >
                </ng-select>
                <div *ngIf="form.controls.sectionId.errors" class="">
                  <div *ngIf="form.controls.sectionId.errors.required && form.controls.sectionId.dirty" class="alert alert-danger">
                    {{'Input_Require' | translate}}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="nameSubSection">Nombre SubSeccion</label>

                <ng-select
                  [options]="subSectionSelect"
                  [multiple]="false"
                  formControlName="subSectionId"
                  name="subSectionId">
                </ng-select>
                <div *ngIf="form.controls.subSectionId.errors" class="">
                  <div *ngIf="form.controls.subSectionId.errors.required && form.controls.subSectionId.dirty" class="alert alert-danger">
                    {{'Input_Require' | translate}}
                  </div>
                </div>
              </div>
              <div class="form-group"><!--
                &lt;!&ndash;<input md-input
                       formControlName="subSectionId"
                       hidden="true"&ndash;&gt;
                >-->
              </div>
              <div class="form-group">
                <div *ngIf="isEditForm; then addData else editData"></div>
                <ng-template #addData>
                  <button [disabled]="loading" type="button" (click)="registerSubSection()"  class="btn btn-primary">{{'Add_Section'| translate }}</button>
                </ng-template>
                <ng-template #editData>
                  <button [disabled]="loading" type="button" (click)="editSubSectionInfo()"  class="btn btn-primary">{{'Edit_Section'| translate }}</button>
                </ng-template>
              </div>

            </form>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>


