.border-article:hover{
  border-style: groove;
  border-width: 3px;
  border-color: chocolate;
  margin: -3px;
  border-radius: 3%;
}
.image-tamanio{
  height: 225px;
  width: 215px;
  display: block;
}
.grow-image:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.pading-detail-article{
  padding:2px;
  margin: auto;
  border-radius: 15%;
}
.margin-image{
  margin: auto;
  padding: 15px;
  border-radius: 15%;
}

.center-div{
  text-align:center
}
.booton-color{
  background-color: #ff8400;
  color:#F3F3F3;
}
.booton-color:hover{
  background-color: chocolate;
  color:#F3F3F3;
}
.card-text{
  padding: 0px;
  margin: auto;
  font-size: x-large;
}

@media only screen and (max-width:1200px){
  .image-tamanio {
    height: 225px;
    width: 195px;
    display: block;
  }
}

@media only screen and (max-width:990px){
  .image-tamanio {
    height: 225px;
    width: 150px;
    display: block;
  }
}

@media only screen and (max-width:768px){
  .image-tamanio {
    height: 225px;
    width: 115px;
    display: block;
  }
}




