<div class="container">
  <h1 class="title-head">Sub Seccion</h1>
</div>

<div class="">

  <div class="col-lg-12">
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Grupo</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefSection.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-center">
            <form novalidate [formGroup]="form" name="form"   #f="ngForm" >
              <div class="form-group">
                <label for="businessId">Bussine</label>
                <ng-select
                  [options]="bussineSelect"
                  [multiple]="false"
                  formControlName="businessId"
                  name="businessId"
                  (selected)="onSelectBussine($event)"
                >
                </ng-select>
                <div *ngIf="form.controls.businessId.errors" class="">
                  <div *ngIf="form.controls.businessId.errors.required && form.controls.businessId.dirty" class="alert alert-danger">
                    {{'Input_Require' | translate}}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label form="groupId">Group</label>
                <ng-select
                  [options]="groupSelect"
                  [multiple]="false"
                  formControlName="groupId"
                  name="groupId"
                  (selected)="onSelectSection($event)"
                >
                </ng-select>
                <div *ngIf="form.controls.groupId.errors" class="">
                  <div *ngIf="form.controls.groupId.errors.required && form.controls.groupId.dirty" class="alert alert-danger">
                    {{'Input_Require' | translate}}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="sectionId">Seccion</label>
                <ng-select
                  [options]="sectionSelect"
                  [multiple]="false"
                  formControlName="sectionId"
                  name="sectionId"
                >
                </ng-select>
               <div *ngIf="form.controls.sectionId.errors" class="">
                  <div *ngIf="form.controls.sectionId.errors.required && form.controls.sectionId.dirty" class="alert alert-danger">
                    {{'Input_Require' | translate}}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="nameSubSection">Nombre SubSeccion</label>
                <input type="text" class="form-control" name="nameSubSection"
                       id="nameSubSection"
                       formControlName="nameSubSection"
                />
                <div *ngIf="form.controls.nameSubSection.errors" class="">
                  <div *ngIf="form.controls.nameSubSection.errors.minlength && form.controls.nameSubSection.dirty" class="alert alert-danger">
                    {{'Input_Min_3' | translate}}
                  </div>
                  <div *ngIf="form.controls.nameSubSection.errors.required && form.controls.nameSubSection.dirty" class="alert alert-danger">
                    {{'Input_Require' | translate}}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input md-input
                       formControlName="subSectionId"
                       hidden="true"
                >
              </div>
              <div class="form-group">
                <div *ngIf="isEditForm; then addData else editData"></div>
                <ng-template #addData>
                  <button [disabled]="loading" type="button" (click)="registerSubSection()"  class="btn btn-primary">{{'Add_Section'| translate }}</button>
                </ng-template>
                <ng-template #editData>
                  <button [disabled]="loading" type="button" (click)="editSubSectionInfo()"  class="btn btn-primary">{{'Edit_Section'| translate }}</button>
                </ng-template>
              </div>

            </form>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div class="">

  <div class="col-xs-6 margin-top-button">
    <button type="button" class="btn btn-primary" (click)="openModalWithClass(template)">añadir</button>
  </div>

  <div class="col-xs-2">
    <label class="label-control">Rows on page</label>
    <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="15">15</option>
    </select>
  </div>
  <div class="col-xs-4">
    <div class="row">
      <label class="col-xs-12 label-control">Sort by</label>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <select class="form-control input-sm" [(ngModel)]="sortBy">
          <option ngValue="subSectionId">Id</option>
          <option ngValue="nombreBu">Bussine</option>
          <option ngValue="nameGroup">Grupo</option>
          <option ngValue="nameSection">Seccion</option>
          <option ngValue="nameSubSection">Sub Seccion</option>

        </select>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <select class="form-control input-sm" [(ngModel)]="sortOrder">
          <option ngValue="asc">Ascending</option>
          <option ngValue="desc">Descending</option>
          <option ngValue="badValue">Bad value</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="panel panel-default">
    <table class="table table-striped" [mfData]="data | dataFilterSubSection : filterQuery" #mf="mfDataTable"
           [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
      <tr>
        <th style="width: 10%">
          <mfDefaultSorter by="subSectionId">Id</mfDefaultSorter>
        </th>

        <th style="width: 10%">
          <mfDefaultSorter by="sectionId.groupId.businessId.nameBu">Bussine</mfDefaultSorter>
        </th>

        <th style="width: 10%">
          <mfDefaultSorter by="sectionId.groupId.nameGroup">Grupo</mfDefaultSorter>
        </th>

        <th style="width: 10%">
          <mfDefaultSorter by="sectionId.nameSection">Name Seccion</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="nameSubSection">Name Seccion</mfDefaultSorter>
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="">Eliminar/Editar</mfDefaultSorter>
        </th>
      </tr>
      <tr>
        <th colspan="4">
          Filtrado:
          <input class="form-control" [(ngModel)]="filterQuery"/>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.subSectionId}}</td>
        <td>{{item.sectionId.groupId.businessId.nameBu}}</td>
        <td>{{item.sectionId.groupId.nameGroup}}</td>
        <td>{{item.sectionId.nameSection}}</td>
        <td>{{item.nameSubSection}}</td>
        <td>
          <button (click)="remove(item)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
          <button (click)="edit(item,template)" class="btn btn-danger "><span class="glyphicon glyphicon-pencil"></span></button>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
