
<app-load-page></app-load-page>

<div *ngIf="user.typeUser == 'User' || user.typeUser == '' || user.typeUser == ' ' || null == user.typeUser ">
  <app-header-user></app-header-user>
 <div *ngIf="dataService.urlPage=='/home'">
 </div>
<div class="container-fluid2 top-page">
  <div *ngIf="stateUser">
    <router-outlet></router-outlet>
    <app-footer-user></app-footer-user>
    </div>

</div>
  <div class="row">

  </div>

</div>

<div *ngIf="user.typeUser =='Admin'">
  <app-home-admin-page></app-home-admin-page>
</div>

<div *ngIf="user.typeUser =='Cashier'">
  <app-home-cashier-page></app-home-cashier-page>
</div>



