<div class="container">
  <h1>¿Qué es esta tienda</h1>
  <p>
    tienda.com.co Es un sitio de moda online, donde encontrarás las mejores marcas de zapatos, vestuario, deportes y accesorios.
  </p>
  <h1>Descipcion</h1>
  <p>
    Para nosotros es muy importante que tengas una nueva experiencia de compra, y disfrutes la comodidad de tener tus productos preferidos al alcance de un clic.

    Centro de Atención al Cliente al 018000 942 434 y en Bogotá 423 2940 o envíanos un e-mail a info@dafiti.com.co. Te invitamos a que ingreses a nuestro Chat en el horario: lunes a viernes de 08:00 a.m. a 5:00 p.m. y sábados de 8:00 a.m. a 5:00 p.m. jornada continua.

    Además, no dejes de visitar nuestras redes sociales, allí encontrarás toda la información necesaria sobre productos, descuentos y noticias de las últimas tendencias de la moda en el mundo; adicionalmente podrás compartir con nosotros tus opiniones, y sugerencias.
  </p>
</div>
