<div class="">

  <div class="">
    <div class="body-page-carousel">

      <swiper [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of listBanner" >

              <img src="{{dataService.getApiUrl()}}/imageArticle/files/{{item.nameImageBanner}}" alt="First slide"  class="carousel-pos image-carousel">
              <div class="carousel-caption d-none d-md-block">
                <div class="col-lg-6">
                  <h3 class="tittle-carrousel " *ngIf="item.urlBanner"><a href="{{item.urlBanner}}">{{item.tittleBanner}}</a></h3>
                  <h3 class="tittle-carrousel" *ngIf="!item.urlBanner">{{item.tittleBanner}}</h3>
                  <p class="container-carousel"> {{item.detallBanner}}</p>
                </div>
              </div>

            </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper>


     <!-- <carousel >
        <slide *ngFor="let item of listBanner ">
          <img src="{{dataService.getApiUrl()}}/imageArticle/files/{{item.nameImageBanner}}" alt="First slide"  class="carousel-pos image-carousel">
          <div class="carousel-caption d-none d-md-block">
            <div class="col-lg-6">
              <h3 class="tittle-carrousel" *ngIf="item.urlBanner"><a href="{{item.urlBanner}}">{{item.tittleBanner}}</a></h3>
              <h3 class="tittle-carrousel" *ngIf="!item.urlBanner">{{item.tittleBanner}}</h3>
               <p class="container-carousel"> {{item.detallBanner}}</p>
            </div>
          </div>
        </slide>
      </carousel>-->
    </div>


  </div>

</div>
