<div class="main-body">

  <div class="container" *ngIf="articleRelational">
    <app-carousel-article-page [articleList] = "articleRelational"
                               [titleCarousel] = "articleTitle"
    >
    </app-carousel-article-page>
  </div>
  <!--<div class="container">
    <div class="col-lg-3">
      <h1 class="col-lg-12">Best Selling</h1>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
         </div>
        <div class=" border-padding col-lg-4">
            <div class=" center-div">
              <h3 class="card-text">
                articulo name
              </h3>
            </div>
            <div class="  center-div">
              <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                      [titles]="['one','two','three']"></rating>
              <span class="label center-div"
                    [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                    [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
            </div>
            <div class="  center-div">
              <span>12 Bs</span>
            </div>
          </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <h1 class="col-lg-12">Featured</h1>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>

      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>

      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>

      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>

      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>

      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>


    </div>
    <div class="col-lg-3">
      <h1 class="col-lg-12">Best Reviews</h1>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>

      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>

    </div>
    <div class="col-lg-3">
      <h1 class="col-lg-12">Sale</h1>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="border-padding col-lg-8 ">
          <img alt="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg" class="image-article-zise" data-holder-rendered="true" src="http://localhost:8080/imageArticle/files/S116modelo-canvas.jpg">
        </div>
        <div class=" border-padding col-lg-4">
          <div class=" center-div">
            <h3 class="card-text">
              articulo name
            </h3>
          </div>
          <div class="  center-div">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': rate == 0 ,'label-warning': rate*10<30, 'label-info': rate*10 >=30 && rate<70, 'label-success': rate*10>=70}"
                  [ngStyle]="{display: (rate>=0 && isReadonly) ? 'inline' : 'none'}">{{rate*10}}%</span>
          </div>
          <div class="  center-div">
            <span>12 Bs</span>
          </div>
        </div>
        <div class="border-padding col-lg-12">
          <hr class=" line-hr">
        </div>
      </div>


    </div>


  </div>-->



</div>
