<div *ngIf="null != listArticleSubSection">
<div class="container  form-horizontal">
  <div class="form-group">
    <label for="filter" class="col-lg-2 control-label">Buscar</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="ejemplo_email_3"
             placeholder="filter" [(ngModel)]="filter" >
    </div>
  </div>
</div>

  <div class="container"    >
      <div class="col-lg-3 " *ngFor="let item of listArticleSubSection.articleVEO | stringFilter: filter | paginate: config  ">
        <div class="card mb-4 box-shadow border-article">
          <a (click)="addReview(item.articleId)">
            <img class="card-img-top margin-image grow-image" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{dataService.getApiUrl()}}/imageArticle/files/{{item.imageMainAr}}" alt="{{dataService.getApiUrl()}}/imageArticle/files/{{item.nombreImageActicle}}" data-holder-rendered="true">
          </a>
          <div class="card-body pading-detail-article">
            <div class="col-lg-12 center-div">
              <h2 class="card-text">
                {{item.nameAr}}
              </h2>
            </div>
            <div class="col-lg-12 center-div">
            <rating [(ngModel)]="item.rating" [max]="max" [readonly]="isReadonly"
                    [titles]="['one','two','three']"></rating>
            <span class="label center-div"
                  [ngClass]="{'label-warning': item.rating == 0 ,'label-warning': item.rating*10<30, 'label-info': item.rating*10>=30 && item.rating*10<70, 'label-success': item.rating*10>=70}"
                  [ngStyle]="{display: (item.rating>=0 && isReadonly) ? 'inline' : 'none'}">{{item.rating*10}}%</span>
            </div>
            <div class="col-lg-12 center-div">
              <span>{{item.precyAr}} Bs</span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="center-div ">

                <button type="button" class="btn btn-sm btn-outline-secondary booton-color btn-lg" *ngIf="dataService.islogin == true" >
                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  añadir Carrito
                </button>
                <a routerLink="/loginRegister" *ngIf="dataService.islogin != true">
                  <button type="button" class="btn btn-sm btn-outline-secondary booton-color btn-lg" >
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  añadir Carrito
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>


  </div>
  <div class="container center-div">
    <pagination-controls
      [id]="config.id"
      [maxSize]="maxSize"
      [directionLinks]="directionLinks"
      [autoHide]="autoHide"
      [previousLabel]="labels.previousLabel"
      [nextLabel]="labels.nextLabel"
      [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
      [screenReaderPageLabel]="labels.screenReaderPageLabel"
      [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
      (pageChange)="onPageChange($event)">
    </pagination-controls>
  </div>
</div>
