  <div class=" row-offcanvas ">
    <div class=" col-lg-3 border-image">
      <img src="{{dataService.getApiUrl()}}/user/files/sales_1.jpg" alt="{{dataService.getApiUrl()}}/user/files/sales_1.jpg" class="image-with"/>
      <p><a class="btn btn-secondary" routerLink="/salesCashier" role="button">Vender »</a></p>
    </div>
    <div class=" col-lg-3 border-image">
      <img src="{{dataService.getApiUrl()}}/user/files/client_1.jpg" alt="{{dataService.getApiUrl()}}/user/files/client_1.jpg" class="image-with"/>
      <p><a class="btn btn-secondary" routerLink="/clientCashier" role="button">Clientes »</a></p>
    </div>
  </div>


