<div class="container">
  <div class="col-lg-12">
    <h1>{{titleCarousel}}</h1>
  </div>

  <div class="col-lg-12" id="relacionationArticle" *ngIf="articleRelational">
    <ngx-carousel
      [inputs]="carouselOne"
      (carouselLoad)="carouselTileLoad($event)">
      <button NgxCarouselPrev class='leftRs btn-lg'>
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button NgxCarouselNext class='rightRs btn-lg'>
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
      <ngx-tile NgxCarouselItem *ngFor="let item of articleRelational">
        <div class="items1 border-article-list">
          <div class="card mb-4 box-shadow border-article">
            <a routerLink="/articleDetail/{{item.articleId}}">
              <img class="card-img-top margin-image grow-image image-best-article" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="{{dataService.getApiUrl()}}/imageArticle/files/{{item.imageMainAr}}" alt="{{dataService.getApiUrl()}}/imageArticle/files/{{item.imageMainAr}}" data-holder-rendered="true">
            </a>
            <div class="card-body pading-detail-article">
              <div class="col-lg-12 center-div">
                <h2 class="card-text">
                  {{item.nameAr}}
                </h2>
              </div>
              <div class="col-lg-12 center-div">
                <rating [(ngModel)]="item.rating" [max]="max" [readonly]="isReadonly"
                        [titles]="['one','two','three']"></rating>
                <span class="label center-div"
                      [ngClass]="{'label-warning': item.rating == 0 ,'label-warning': item.rating*10<30, 'label-info': item.rating*10>=30 && item.rating*10<70, 'label-success': item.rating*10>=70}"
                      [ngStyle]="{display: (item.rating>=0 && isReadonly) ? 'inline' : 'none'}">{{item.rating*10}}%</span>
              </div>
              <div class="col-lg-12 center-div">
                <span>{{item.precyAr}} Bs</span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="center-div ">
                  <button type="button" (click)="addArticle(item)" class="btn btn-sm btn-outline-secondary booton-color btn-lg" *ngIf="dataService.islogin == true" >
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  añadir Carrito
                  </button>
                  <a routerLink="/loginRegister" *ngIf="dataService.islogin != true">
                    <button type="button" class="btn btn-sm btn-outline-secondary booton-color btn-lg"  >
                      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  añadir Carrito
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-tile>
    </ngx-carousel>




    <!-- <div
       ng2-carouselamos
       class="slides-wrapper"
       [items]="articleRelational"
       [width]="1000"
       [$prev]="prev1"
       [$next]="next1"
       [$item]="item"
     >
     </div>
     <ng-template #prev1>
       <div class=" btn-lg">
         <span class="glyphicon glyphicon-menu-left position-left" aria-hidden="true"  ></span>
       </div>
     </ng-template>
     <ng-template #next1>
       <div class=" btn-lg">
         <span class="glyphicon glyphicon-menu-right  position-ringht" aria-hidden="true"  ></span>
       </div>
     </ng-template>
     <ng-template #item let-item let-i="index">

       <div class="items1 border-article-list">

         <div class="card mb-4 box-shadow border-article">
           <a routerLink="/articleDetail/{{item.articleId}}">
             <img class="card-img-top margin-image grow-image image-best-article" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="{{dataService.getApiUrl()}}/imageArticle/files/{{item.imageMainAr}}" alt="{{dataService.getApiUrl()}}/imageArticle/files/{{item.imageMainAr}}" data-holder-rendered="true">
           </a>
           <div class="card-body pading-detail-article">
             <div class="col-lg-12 center-div">
               <h2 class="card-text">
                 {{item.nameAr}}
               </h2>
             </div>
             <div class="col-lg-12 center-div">
               <rating [(ngModel)]="item.rating" [max]="max" [readonly]="isReadonly"
                       [titles]="['one','two','three']"></rating>
               <span class="label center-div"
                     [ngClass]="{'label-warning': item.rating == 0 ,'label-warning': item.rating*10<30, 'label-info': item.rating*10>=30 && item.rating*10<70, 'label-success': item.rating*10>=70}"
                     [ngStyle]="{display: (item.rating>=0 && isReadonly) ? 'inline' : 'none'}">{{item.rating*10}}%</span>
             </div>
             <div class="col-lg-12 center-div">
               <span>{{item.precyAr}} Bs</span>
             </div>
             <div class="d-flex justify-content-between align-items-center">
               <div class="center-div ">
                 <button type="button" class="btn btn-sm btn-outline-secondary booton-color btn-lg" *ngIf="dataService.islogin == true" >
                   <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  añadir Carrito
                 </button>
                 <a routerLink="/loginRegister" *ngIf="dataService.islogin != true">
                   <button type="button" class="btn btn-sm btn-outline-secondary booton-color btn-lg" >
                     <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  añadir Carrito
                   </button>
                 </a>

               </div>
             </div>
           </div>
         </div>

       </div>
     </ng-template>

     -->
  </div>

</div>
