<tabset #staticTabsArticle>
  <tab heading="Articulo">

    <div class="row">
      <div class="col-lg-12 col-center">
        <form novalidate [formGroup]="form" name="form"   #f="ngForm" >
          <div class="form-group">
            <label for="businessId">Bussine</label>
            <ng-select
              [options]="bussineSelect"
              [multiple]="false"
              formControlName="businessId"
              name="businessId"
              (selected)="onSelectBussine($event)"
            >
            </ng-select>
            <div *ngIf="form.controls.businessId.errors" class="">
              <div *ngIf="form.controls.businessId.errors.required && form.controls.businessId.dirty" class="alert alert-danger">
                {{'Input_Require' | translate}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label form="groupId">Group</label>
            <ng-select
              [options]="groupSelect"
              [multiple]="false"
              formControlName="groupId"
              name="groupId"
              (selected)="onSelectSection($event)"
            >
            </ng-select>
            <div *ngIf="form.controls.groupId.errors" class="">
              <div *ngIf="form.controls.groupId.errors.required && form.controls.groupId.dirty" class="alert alert-danger">
                {{'Input_Require' | translate}}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="sectionId">Seccion</label>
            <ng-select
              [options]="sectionSelect"
              [multiple]="false"
              formControlName="sectionId"
              name="sectionId"
              (selected)="onSubSelect($event)"
            >
            </ng-select>
            <div *ngIf="form.controls.sectionId.errors" class="">
              <div *ngIf="form.controls.sectionId.errors.required && form.controls.sectionId.dirty" class="alert alert-danger">
                {{'Input_Require' | translate}}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="subSectionId">Nombre SubSeccion</label>

            <ng-select
              [options]="subSectionSelect"
              [multiple]="false"
              formControlName="subSectionId"
              name="subSectionId">
            </ng-select>
            <div *ngIf="form.controls.subSectionId.errors" class="">
              <div *ngIf="form.controls.subSectionId.errors.required && form.controls.subSectionId.dirty" class="alert alert-danger">
                {{'Input_Require' | translate}}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="nameAr">nombre Articulo</label>
            <input type="text" class="form-control" name="nameGroup"
                   id="nameAr"
                   formControlName="nameAr"
            />
            <div *ngIf="form.controls.nameAr.errors" class="">
              <div *ngIf="form.controls.nameAr.errors.minlength && form.controls.nameAr.dirty" class="alert alert-danger">
                {{'Input_Min_3' | translate}}
              </div>
              <div *ngIf="form.controls.nameAr.errors.required && form.controls.nameAr.dirty" class="alert alert-danger">
                {{'Input_Require' | translate}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="codigoAr">codigoAr</label>
            <input type="text" class="form-control" name="codigoAr"
                   id="codigoAr"
                   formControlName="codigoAr"
            />
            <div *ngIf="form.controls.codigoAr.errors" class="">
              <div *ngIf="form.controls.codigoAr.errors.minlength && form.controls.codigoAr.dirty" class="alert alert-danger">
                {{'Input_Min_3' | translate}}
              </div>
              <div *ngIf="form.controls.codigoAr.errors.required && form.controls.codigoAr.dirty" class="alert alert-danger">
                {{'Input_Require' | translate}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="precyAr">precyAr</label>
            <input type="text" class="form-control" name="precyAr"
                   id="precyAr"
                   formControlName="precyAr"
            />
            <div *ngIf="form.controls.precyAr.errors" class="">
              <div *ngIf="form.controls.precyAr.errors.minlength && form.controls.precyAr.dirty" class="alert alert-danger">
                {{'Input_Min_3' | translate}}
              </div>
              <div *ngIf="form.controls.precyAr.errors.required && form.controls.precyAr.dirty" class="alert alert-danger">
                {{'Input_Require' | translate}}
              </div>
              <div *ngIf="form.controls.precyAr.errors.isNumber && form.controls.precyAr.dirty" class="alert alert-danger">
                {{'Input_Number' | translate}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="detailAr">Detalle de Articulo</label>
            <textarea
              class="form-control" name="detailAr"
              id="detailAr"
              formControlName="detailAr"
            >
            </textarea>
            <div *ngIf="form.controls.detailAr.errors" class="">
              <div *ngIf="form.controls.detailAr.errors.minlength && form.controls.detailAr.dirty" class="alert alert-danger">
                {{'Input_Min_3' | translate}}
              </div>
              <div *ngIf="form.controls.detailAr.errors.required && form.controls.detailAr.dirty" class="alert alert-danger">
                {{'Input_Require' | translate}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="imageMainAr">imageMainAr</label>
            <label class="btn btn-default form-control"   >
              <input type="file" id="file-6"
                     class="style-file"
                     (change)="selectFileOne($event)"
                     name="imageMainAr"
                     id="imageMainAr"
                     formControlName="imageMainAr"
              >
              <label for="file-6">
                <svg xmlns="" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                <span class="iborrainputfile">Selectione Image</span>
              </label>
            </label>
            <div  *ngIf="selectedFilesOne">
               <pre>{{selectedFilesOne[0].name }}</pre>
            </div>

            <div *ngIf="!selectedFilesOne" class="">
              <div *ngIf="form.controls.imageMainAr.errors.required" class="alert alert-danger">
                {{'Input_Require' | translate}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="typeImageArticle">typeImageArticle</label>
            <ng-select
              [options]="dataService.typeImageSelect"
              [multiple]="false"
              formControlName="typeImageArticle"
              name="typeImageArticle"
            >
            </ng-select>
            <div *ngIf="form.controls.typeImageArticle.errors" class="">

              <div *ngIf="form.controls.typeImageArticle.errors.minlength && form.controls.dirty" class="alert alert-danger">
                {{'Input_Min_3' | translate}}
              </div>
              <div *ngIf="form.controls.typeImageArticle.errors.required && form.controls.typeImageArticle.dirty" class="alert alert-danger">
                {{'Input_Require' | translate}}
              </div>
            </div>
          </div>

          <div class="form-group"><!--
                &lt;!&ndash;<input md-input
                       formControlName="subSectionId"
                       hidden="true"&ndash;&gt;
                >-->
          </div>
          <div class="form-group">
            <div *ngIf="isEditForm; then addData else editData"></div>
            <ng-template #addData>
              <button [disabled]="loading" type="button" (click)="registerArticle()"  class="btn btn-primary">{{'Add_Articulo'| translate }}</button>
            </ng-template>
            <ng-template #editData>
              <button [disabled]="loading" type="button" (click)="editArticleInfo()"  class="btn btn-primary">{{'Edit_Articulo'| translate }}</button>
            </ng-template>
          </div>
        </form>
      </div>
    </div>


  </tab>
  <tab heading="Imagen Articulo" [disabled]="tapArticleImage" style="display: none;" >

<div class="container">
  <h1> Imagen Articulo </h1>
    <div class="form-group">
      <label  for="ArticleImage">Añadir Image</label>

      <label class="btn btn-default form-control"   >
        <input type="file" id="file-1"
               class="style-file"
               (change)="selectFiletwo($event)"
                >
        <label for="file-1">
          <svg xmlns="" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
          <span class="iborrainputfile">Selectione Image</span>
        </label>
      </label>
      <button class="btn btn-success"
              (click)="uploadArticleImage()"  [disabled]="!selectedFilesArticle" >Subir imagen</button>
      <div *ngIf="form.controls.nombreImageActicle.errors" class="">
        <div *ngIf="form.controls.nombreImageActicle.errors.minlength && form.controls.nombreImageActicle.dirty" class="alert alert-danger">
          {{'Input_Min_3' | translate}}
        </div>
        <div *ngIf="form.controls.nombreImageActicle.errors.required && form.controls.nombreImageActicle.dirty" class="alert alert-danger">
          {{'Input_Require' | translate}}
        </div>
      </div>
    </div>

</div>

    <div class="container" *ngIf="articleDetailListImage">
      <h1>Lista De Imagenes </h1>

      <div  *ngFor="let item of articleDetailListImage" class="col-lg-6">
        <img src="{{dataService.getApiUrl()}}/imageArticle/files/{{item.nombreImageActicle}}" alt="{{dataService.getApiUrl()}}/imageArticle/files/{{item.nombreImageActicle}}" style="max-width:350px"/>

      </div>

    </div>

  </tab>
</tabset>
