
<div id="wrapper">
  <nav class="navbar navbar-default navbar-cls-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/home">Binary Administrador</a>
      </div>

      <div class=""  >
        <div class="nav navbar-nav navbar-right">
          <div class="bootunStyle">

            <form name="form" (ngSubmit)="logout()"  #f="ngForm"  novalidate>
              <div class="form-group">

                <button [disabled]="false" class="btn btn-danger square-btn-adjust">Logout</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar-default page-wrapper-width" id="bs-example-navbar-collapse-1" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav maxNav" id="">
        <li class="text-center">
          <img src="{{dataService.imageUserPage}}" alt="{{dataService.imageUserPage}}"  class="user-image img-responsive"/>
        </li>
        <li class="text-center">
          <label class="btn btn-default">
            <input type="file" id="file-1" class="style-file" (change)="selectFile($event)">

            <label for="file-1">
              <svg xmlns="" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
              <span class="iborrainputfile">Selectione Image</span>
            </label>

          </label>
          <button class="btn btn-success" [disabled]="!selectedFiles"
                  (click)="upload()">Editar Imagen</button>
        </li>


        <li class="text-center  page-heade ">
          <h1> <small class="text-color-user">User: {{this.dataService.AUTH_CONFIG.firtNameUser}} {{this.dataService.AUTH_CONFIG.lastNameUser }}</small></h1>
        </li>

        <li>
          <a   routerLink="/homeAdmin"  ><i class="fa fa-dashboard fa-3x"></i> Home</a>
        </li>
        <li>
          <a   routerLink="/typeMoney"  ><i class="fa fa-dashboard fa-3x"></i>Tipo Moneda</a>
        </li>
        <li>
          <a   routerLink="/roleUser"  ><i class="fa fa-dashboard fa-3x"></i>Role Usuario</a>
        </li>
        <li>
          <a   routerLink="/lookForUser"  ><i class="fa fa-dashboard fa-3x"></i>Buscar Usuario</a>
        </li>

        <li class="{{idAN}}" >
          <a (click)="selectTodo()"><i class="fa fa-desktop fa-3x"></i> Tienda Acticulos <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse {{idBN}}"   >
            <li>
              <a   routerLink="/createBusiness"  ><i class="fa fa-dashboard fa-2x"></i> Sucursal </a>
            </li>
            <li>
              <a   routerLink="/groupProduct"  ><i class="fa fa-dashboard fa-2x"></i> Grupo Producto </a>
            </li>
            <li>
              <a  routerLink="/sectionProduct"  ><i class="fa fa-dashboard fa-2x"></i> Seccion Producto </a>
            </li>
            <li>
              <a  routerLink="/subSectionProduct" ><i class="fa fa-dashboard fa-2x"></i>Sub Seccion Producto </a>
            </li>
            <li>
              <a routerLink="/acticle" ><i class="fa fa-dashboard fa-2x"></i>Lista De Acticulos</a>
            </li>
         <!--   <li>
              <a routerLink="/acticle" ><i class="fa fa-dashboard fa-2x"></i>Añadir Articulo Sucursal</a>
            </li>-->

            <li>
              <a routerLink="/productCreate" ><i class="fa fa-dashboard fa-2x"></i>Crear Acticulos</a>
            </li>
            <li>
              <a routerLink="/addInformationArticle" ><i class="fa fa-dashboard fa-2x"></i>Añadir Informacion Al Acticulos</a>
            </li>
            <li>
              <a   routerLink="/createBanner"  ><i class="fa fa-dashboard fa-2x"></i> Banner</a>
            </li>
            <li>
              <a   routerLink="/createArticleRelational"><i class="fa fa-dashboard fa-2x"></i>Añadir Articles Relational</a>
            </li>
            <li>
              <a   routerLink="/subSectionAndArticle"><i class="fa fa-dashboard fa-2x"></i>Sub Seccion Y Articulos</a>
            </li>
          </ul>
        </li>

        <li class="{{idAN2}}" >
          <a (click)="selectTodo2()"><i class="fa fa-desktop fa-3x"></i>Proveedor <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse {{idBN2}}"   >
            <li>
              <a   routerLink="/createProvider"  ><i class="fa fa-dashboard fa-2x"></i>Proveedor </a>
            </li>
            <!--<li>
              <a   routerLink="/createProToBus"  ><i class="fa fa-dashboard fa-2x"></i>Añadir Proveedor</a>
            </li>
            <li>
              <a   routerLink="/createArticleProvider"  ><i class="fa fa-dashboard fa-2x"></i>Articulo provedor </a>
            </li>-->
          </ul>
        </li>


        <li class="{{idAN3}}" >
          <a (click)="selectTodo3()"><i class="fa fa-desktop fa-3x"></i>Almacen <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse {{idBN3}}"   >
            <li>
              <a   routerLink="/createWarehouse"  ><i class="fa fa-dashboard fa-2x"></i>Lista Almacen </a>
            </li>
          </ul>
        </li>



      </ul>
    </div>
  </nav>
  <div id="page-wrapper" >

    <div id="page-inner">
      <div *ngIf="dataService.stateUserPage">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="morra-footer">
    <div class="morra-sub-footer">
      <div class="">
        <div class="col-md-4 center-block">
          <div class="paper"> </div>
        </div>
        <div class="col-md-4 center-footer">
          <div class="rock"> © Company 2017</div>
        </div>
        <div class="col-md-4 center-block">
          <div class="scissor"> </div>
        </div>
      </div>
    </div>
  </div>

</footer>
